<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to homes_top_path do %>
          <i class="fa-solid fa-house-chimney"></i>
          home
        <% end %>
        <%= link_to users_path do %>
          <i class="fa-solid fa-people-group"></i>
          users
        <% end %>
        <%= link_to books_path do %>
          <i class="fa-regular fa-book-open"></i>
          books
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa-regular fa-right-from-bracket"></i>
          log out
        <% end %>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            sign up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            log in
          <% end %>
        </li>
      <% end %>
    </header>
    <footer>
      <p>CopyRight Infratop.Inc</p>
    </footer>
    <%= yield %>
  </body>
</html>
